:root {
    --main-text-color: #2E2F42;
    --scnd-text-color: #F4F4FD;
    --contacts-link-color: #434455;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --bg-color-main: #ffffff;
    --border-color: #e7e9fc;
    --link-color: #404BBF;
    --btn-bg-color: #4d5ae5;
    --text-color: #8e8f99;
    --title-color_whit: rgba(255, 255, 255, 1);
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--contacts-link-color);
    background-color: var(--bg-color-main);
    margin: 0 auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;

}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;

}

img {
    display: block;
    width: 100%;
}

.list {
    text-decoration: none;
}

.link {
    list-style: none;
}

.section {
    padding: 120px 0;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/***** HEADER *****/
.header {
    border-bottom: 1px solid var(--border-color);
    padding: 0 15px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    display: block;
    margin-right: 76px;
}

.header-logo span {
    color: var(--main-text-color);
}

.menu {
    display: flex;
    gap: 40px;
}

.header-menu-item {
    padding: 24px 0;
}

.header-menu-link {
    position: relative;
    text-decoration: none;
    color: var(--main-text-color);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.header-menu-link:hover,
.header-menu-link:focus {
    color: var(--link-color);
}

.active {
    color: var(--link-color);
}

.header-menu-link.active::after {
    content: '';
    width: 100%;
    height: 4px;
    color: var(--link-color);
    background-color: var(--link-color);
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
}

.contacts {
    padding: 24px;
}

.menu-adrs {
    display: flex;
    gap: 40px;
}

.contacts-item {
    gap: 40px;
}

.contacts-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--contacts-link-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--link-color);
}

.contacts-item-tw {
    margin-right: 0;
}

/*******     Section 1      ********/

.main {
    padding: 188px 0;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/main-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}

.main-container {
    display: flex;
    gap: 48px;
    flex-direction: column;
    align-items: center;
}

.smm-ttl {
    width: 496px;
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    color: var(--bg-color-main);
}

.main-btn {
    width: 105px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--bg-color-main);
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: var(--btn-bg-color);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color var(--transition)
}

.main-btn:hover,
.main-btn:focus {
    background: var(--link-color);
}

/*******     Section 2      ********/

.option {
    padding-top: 120px;
    padding-bottom: 120px;
}

.option-menu-item-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}

/** SVG **/
.advances {
    display: flex;
    gap: 24px;
}

.advances-svg {
    width: 264px;
    height: 112px;
    padding: 24px 100px;
    margin-bottom: 8px;
    background-color: var(--scnd-text-color);
}

/** SVG **/

.option-menu {
    display: flex;
    gap: 24px;
}

.option-menu-item {
    position: relative;
    text-decoration: none;
    color: var(--link-color);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color var(--transition);
}

.option-menu-item:hover,
.option-menu-item:focus {
    color: var(--link-color);
}

.option-menu-item::after {
    content: '';
    width: 100%;
    height: 4px;
    color: var(--link-color);
    background-color: var(--btn-bg-color);
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
}

.thrd-ttl {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    margin-bottom: 8px;
}

.item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--contacts-link-color);
}

/*******     Section 3      ********/
.value {
    padding-bottom: 120px;
}

.scnd-ttl {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-text-color);
    margin-bottom: 72px;
}

.value-menu {
    display: flex;
    gap: 24px;
}

.value-menu-item {
    width: calc((100% - 48px) / 3);
}

/*******     Section 4      ********/
.team {
    background: var(--scnd-text-color);
    padding: 120px 0;
}

.team-list {
    display: flex;
    gap: 24px;

}

.team-list-item {
    width: calc((100% - 72px) / 4);
    background: var(--bg-color_main);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.name {
    padding: 32px 0;
}

.team-section-ttl {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.team-section-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--contacts-link-color);
}

/**  SVG2 **/

.icon {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.icon-team {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-team:hover,
.icon-team:focus {
    background-color: var(--btn-bg-color);
}

.icon-team-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-team-link:hover,
.icon-team-link:focus {
    background-color: #404bbf;
}

.icon-svg {
    fill: #f4f4fd;
}

/** SVG2 */
/** SVG3 */

.custumers-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
    color: #2e2f42;
}

/*******     Section 5      ********/
.customer {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.customer-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
}

.customer-item-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--text-color);
    border: 1px solid #8e8f99;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-item-link:hover,
.customer-item-link:focus {
    border: 1px solid var(--link-color);
    border-radius: 4px;
    color: var(--link-color);
}

.customers-svg {
    fill: currentColor;
}

/*******     footer      ********/
.back {
    background: var(--main-text-color);
    padding: 100px 0;
}

.content {
    margin-right: 120px;
}

.back-logo {
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: var(--btn-bg-color);
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}

.back-logo-text {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.back-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--scnd-text-color);
    max-width: 264px;
}

.container-footer {
    display: flex;
    gap: 120px;
    align-items: baseline;
}

/** SVG4 */
.media {}

.social-text {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-color_whit);
    margin-bottom: 16px;
}

.social {
    display: flex;
    gap: 16px;
}

.social-item {
    background-color: var(--btn-bg-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: background-color var(--transition);
}

.social-item-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--btn-bg-color);
    border-radius: 50%;
    height: 100%;
    width: 100%;
    transition: background-color var(--transition);
}

.social-item-link:hover,
.social-item-link:focus {
    background-color: #31d0aa;
}

.social-svg {
    fill: #F4F4FD;
}

/** SVG4*/

/*** PORTFOLIO PAGE ***/

.prtfl {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #F4F4FD;
    color: #4D5AE5;
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.section-container {}

.btn-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.btn-link {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.prtfl-btn {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: var(--scnd-text-color);
    color: var(--btn-bg-color);
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.prtfl-btn:hover,
.prtfl-btn:focus {
    background: var(--link-color);
    color: var(--bg-color-main) border 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.spisok-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    justify-content: center;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-item-link {
    display: block;
}

.portfolio-item-link:hover,
.portfolio-item-link:focus {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-image {
    position: relative;
    overflow: hidden;
}

.prtfl-img-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color_light);
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--btn-bg-color);
    transform: translateY(100%);
    transition: transform var(--transition);

}

.portfolio-item-link:hover .prtfl-img-text,
.portfolio-item-link:focus .prtfl-img-text {
    transform: translateY(0);
}

.odin {
    padding: 32px 16px;
    border: 1px solid var(--border-color);
    border-top: none;
}

.ttltw {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    margin-bottom: 8px;
}

.text-pf {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--contacts-link-color);
}


/*?===================================*/
/*!============== MODAL ==============*/
/*?==================================-*/

.backdrop {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity var(--transition), visibility var(--transition);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(1);
    transition: transform var(--transition);
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleX(0);
}

.modal-btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--border-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color var(--transition), border var(--transition);
}

.close-icon {
    fill: #2e2f42;
    transition: fill var(--transition);
}

.modal-btn-close:hover,
.modal-btn-close:focus {
    background-color: #404bbf;
    border: none;
}

.modal-btn-close:hover .close-icon,
.modal-btn-close:focus .close-icon {
    fill: #ffffff;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}